/* ======= Reset básico e variáveis ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --corFundo: #ffffff;
  --corTexto: #2b2b2b;
  --textoSuave: #6b6b6b;
  --corBorda: #e9e9e9;
  --cinzaClaro: #f5f6f7;
  --corPrimaria: #038f26;
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    Arial,
    sans-serif;
  color: var(--corTexto);
  background: var(--corFundo);
  line-height: 1.4;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #474747;
  background-color: white;
  padding: 8px 20px;
}

.links {
  display: flex;
  gap: 30px;
}

.links a {
  color: black;
  text-decoration: none;
}

header img {
  height: 40px;
}

.Foto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  background: url("imagens/bolsa-wallpaper.jpg") no-repeat center center / cover;
  margin-top: 20px;

  h2 {
    font-size: 50px;
    margin-left: 150px;
  }

  p {
    margin-left: 150px;
  }
}

.botão {
  padding: 8px;
  width: 200px;
  background-color: rgb(8, 144, 51);
  margin-bottom: 20px;
  text-align: center;
  margin-left: 150px;

  h4 {
    color: white;
  }
}
.bolsas{ 
display: flex;
justify-content: space-evenly;
margin-top: 50px;

    img {
        width: 300px;
        height: 300px;
        margin-left: 20px;
        margin-top: 20px;
    }
    h3{
      margin-left: 115px;
    }
    p{
      margin-left: 115px;
    }
  }